In [94]:
import pandas as pd

In [33]:
naver2021 = pd.read_csv('naver_movie2021.csv')

In [36]:
naver2020 = pd.read_csv('naver_movie2020.csv')

In [37]:
naver2019 = pd.read_csv('naver_movie2019.csv')

In [95]:
movie_n = pd.read_csv('naver_movie_192021.csv')

In [96]:
daum = pd.read_csv('daumreview192021.csv')

In [90]:
daum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49126 entries, 0 to 49125
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         49126 non-null  object
 1   score         49126 non-null  int64
 2   content       49126 non-null  object
 3   write_date    49126 non-null  object
 4   release_date  6982 non-null   object
 5   source_site   49126 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.2+ MB

In [77]:
daum.drop_duplicates().head()

,title,score,content,write_date,release_date,source_site
0,모가디슈,9,개인적으로 오랜만에 잘 만들어진 한국영화를 본 기분이 들어서 좋았습니다. 가장 돋...,2021. 07. 28. 15:20,NaN,daum
2,모가디슈,10,어제 밤에 극장에서 보면서 다른 걸 떠나서 다시 한번 '이게 가능해?'라는 생각이 ...,2021. 07. 29. 10:43,NaN,daum
4,모가디슈,10,딱히 좋아하는 배우는 안나오지만 류감독님 영화라 믿고 봤어요보고나서 김윤석 배우님 ...,2021. 07. 29. 11:30,NaN,daum
6,모가디슈,10,오늘 조조로 보고 왔는데 영화 잘 만들었어오. 시종일관 긴장감을 잘 이끌어가고 마...,2021. 07. 28. 21:15,NaN,daum
8,모가디슈,10,오늘 아이맥스에서 봤습니다. 정말 마지막 장면에 와이프하고 같이 울컥했습니다. 1...,2021. 07. 28. 22:33,NaN,daum

In [74]:
movie_n.head(1)

,title,genre,nation,running_time,release_date,director,actor,grade,summary,poster,score,content,write_date,source_site
0,0.0MHz,공포,한국,102분,2019 .05.29 개봉,유선동,"정은지(소희), 이성열(상엽), 최윤영(윤정)",15세 관람가,"에디슨의 마지막 발명품, 유령 탐지기?\n “증명할 수 없는 미스터리란 없다”\n ...",https://movie-phinf.pstatic.net/20190517_285/1...,1,와 정말 무서운집 수준의 공포영화가 한국에 다시 나왔네요. 꼭 보러 가세요.착석하신...,2019.05.29 13:30,naver

In [97]:
nn= movie_n['title'].unique().tolist()

In [73]:
nn[:10]

['0.0MHz',
 '1 더하기 3',
 '10 미니츠 곤',
 '100일 동안 100가지로 100퍼센트 행복찾기',
 '10년',
 '12번째 솔저',
 '13년의 공백',
 '1919 유관순',
 '47미터 2',
 '6솔져스']

In [20]:
len(nn)

1639

---

## 네이버 영화제목 다음 영화제목 to_dict

### 네이버 제목

In [104]:
meta = pd.read_csv('meta192021.csv')

In [105]:
n_title = pd.DataFrame(meta['title'])

In [106]:
n_title = n_title.drop_duplicates().reset_index(drop=True)

In [107]:
n_title

                           title
0                         0.0MHz
1                        1 더하기 3
2                       10 미니츠 곤
3     100일 동안 100가지로 100퍼센트 행복찾기
4                            10년
...                          ...
1908                    해변의 에트랑제
1909               헬렌: 내 영혼의 자화상
1910                     호라이즌 라인
1911                   호스트: 접속금지
1912                   혼자 사는 사람들

[1913 rows x 1 columns]

### 다음 제목

In [108]:
d_title = pd.DataFrame(daum['title'])

In [109]:
d_title = d_title.drop_duplicates().reset_index(drop=True)

In [120]:
d_title = d_title.rename(columns = {'title':'daum_title'})

### rename merge

In [121]:
n_title = n_title.rename(columns = {'title':'naver_title'})

In [122]:
merge_title = pd.concat([n_title,d_title],axis=1)

In [123]:
merge_title

                     naver_title         daum_title
0                         0.0MHz               모가디슈
1                        1 더하기 3             블랙 위도우
2                       10 미니츠 곤    분노의 질주: 더 얼티메이트
3     100일 동안 100가지로 100퍼센트 행복찾기                싱크홀
4                            10년  극장판 귀멸의 칼날: 무한열차편
...                          ...                ...
1908                    해변의 에트랑제                NaN
1909               헬렌: 내 영혼의 자화상                NaN
1910                     호라이즌 라인                NaN
1911                   호스트: 접속금지                NaN
1912                   혼자 사는 사람들                NaN

[1913 rows x 2 columns]

In [124]:
mt = merge_title.to_dict('list')

---

In [111]:
d = d_title.to_dict('list')

In [113]:
n = n_title.to_dict('list')

---

## title match

In [ ]:
ddaum['title'].unique().tolist()

In [233]:
meta['title']

0                           0.0MHz
1                          1 더하기 3
2                         10 미니츠 곤
3       100일 동안 100가지로 100퍼센트 행복찾기
4                              10년
                   ...
1913                      해변의 에트랑제
1914                 헬렌: 내 영혼의 자화상
1915                       호라이즌 라인
1916                     호스트: 접속금지
1917                     혼자 사는 사람들
Name: title, Length: 1918, dtype: object

In [202]:
dtitle = daum['title'].unique().tolist()

In [237]:
result = []

In [238]:
result=[]
def find_name(titles):
    ntitle=[]

    for i in range(0,len(titles)):
        title = titles[i][:4] # 여기서 숫자 변경해주시면 됩니다
        naver = meta[meta['title'].str.contains(title)]
        ntitle.append(naver.title.tolist())

        df= pd.DataFrame({'naver_title':ntitle})
        df['daum_title']= titles[i]
        result.append(df)

In [210]:
daum = daum.fillna(' ')

In [240]:
find_name(dtitle)

In [242]:
a = pd.concat(result).reset_index(drop=True)

In [244]:
b = a.drop_duplicates(subset='daum_title',keep='last').reset_index(drop=True)

In [251]:
b.tail(50)

                                          naver_title               daum_title
46                                      [콰이어트 플레이스 2]              콰이어트 플레이스 2
47                                               [랑종]                       랑종
48                  [컨저링 맨션, 컨저링 하우스, 컨저링 3: 악마가 시켰다]           컨저링 3: 악마가 시켰다
49                                         [토이 스토리 4]                 토이 스토리 4
50                                [주먹왕 랄프 2: 인터넷 속으로]        주먹왕 랄프 2: 인터넷 속으로
51  [드래곤 길들이기 3, 드래곤 빌리지, 드래곤 솔져, 드래곤 헌터 트레져, 리틀드래...               드래곤 길들이기 3
52                                          [말레피센트 2]                  말레피센트 2
53                                       [마이펫의 이중생활2]              마이펫의 이중생활 2
54                                      [쥬만지: 넥스트 레벨]              쥬만지: 넥스트 레벨
55                                          [남산의 부장들]                  남산의 부장들
56                    [다만 악에서 구하소서, 다만 악에서 구하소서 파이널컷]              다만 악에서 구하소서
57                                               [반도]                       반도
58                                         [아메리칸 히트맨]                      히트맨
59                                               [테넷]                       테넷
60                                              [백두산]                      백두산
61                                            [#살아있다]                    #살아있다
62                                       [강철비2: 정상회담]               강철비2: 정상회담
63                                               [담보]                       담보
64                                           [닥터 두리틀]                   닥터 두리틀
65                                       [삼진그룹 영어토익반]               삼진그룹 영어토익반
66                                           [정직한 후보]                   정직한 후보
67                                               [도굴]                       도굴
68                                              [클로젯]                      클로젯
69                                           [오케이 마담]                   오케이 마담
70                                            [해치지않아]                    해치지않아
71                                                 []              천문: 하늘에 묻는다
72                                               [결백]                       결백
73                                             [1917]                     1917
74                                           [작은 아씨들]                   작은 아씨들
75                                             [미드웨이]                     미드웨이
76                                               [시동]                       시동
77                                 [지푸라기라도 잡고 싶은 짐승들]         지푸라기라도 잡고 싶은 짐승들
78                   [미스터 보스, 미스터 주: 사라진 VIP, 미스터 존스]           미스터 주: 사라진 VIP
79                       [인비저블 위트니스, 인비저블 라이프, 인비저블맨]                    인비저블맨
80                       [나쁜 녀석들: 더 무비, 나쁜 녀석들 : 포에버]             나쁜 녀석들 : 포에버
81                                             [국제수사]                     국제수사
82                                         [침입자, 침입자]                      침입자
83                               [스타워즈: 라이즈 오브 스카이워커]       스타워즈: 라이즈 오브 스카이워커
84                                         [스파이 지니어스]                 스파이 지니어스
85                                    [온워드: 단 하루의 기적]            온워드: 단 하루의 기적
86                                           [소리도 없이]                   소리도 없이
87                          [버즈 오브 프레이(할리 퀸의 황홀한 해방)]  버즈 오브 프레이(할리 퀸의 황홀한 해방)
88                                            [오! 문희]                    오! 문희
89                                             [그린랜드]                     그린랜드
90  [런던 워리어, 사일런스, 액츠 오브 바이올런스, 장난스런 키스, 칠드런 액트, 커...                        런
91  [내가 죽던 날, 집에 돌아오면, 언제나 아내가 죽은 척을 하고 있다, 내가 죽기를...                  내가 죽던 날
92                          [신비아파트 극장판 하늘도깨비 대 요르문간드]  신비아파트 극장판 하늘도깨비 대 요르문간드
93                             [프리즌 브레이커스, 프리즌 이스케이프]                프리즌 이스케이프
94                             [조제, 조제, 호랑이 그리고 물고기들]                       조제
95                                  [밤쉘: 세상을 바꾼 폭탄선언]          밤쉘: 세상을 바꾼 폭탄선언

In [270]:
dd[0][-2:]

'디슈'

In [ ]:
# 시도하려 했으나 ... 말잇못

In [273]:
result1=[]
def find_name1(titles):
    ntitle=[]

    for i in range(0,len(titles)):
        title = titles[i][:7]
        naver = meta[meta['title'].str.contains(title)].title.tolist()
        naver = naver[-2:] == titles[-2:]
        ntitle.append(naver)

        df= pd.DataFrame({'naver_title':ntitle[0]})
        df['daum_title']= titles[i]
        result1.append(df)

In [274]:
find_name1(dtitle)

ValueError: If using all scalar values, you must pass an index

In [265]:
aa = pd.concat(result).reset_index(drop=True)

In [266]:
bb = aa.drop_duplicates(subset='daum_title',keep='last').reset_index(drop=True)

In [267]:
bb.tail(50)

                                          naver_title               daum_title
46                                      [콰이어트 플레이스 2]              콰이어트 플레이스 2
47                                               [랑종]                       랑종
48                  [컨저링 맨션, 컨저링 하우스, 컨저링 3: 악마가 시켰다]           컨저링 3: 악마가 시켰다
49                                         [토이 스토리 4]                 토이 스토리 4
50                                [주먹왕 랄프 2: 인터넷 속으로]        주먹왕 랄프 2: 인터넷 속으로
51  [드래곤 길들이기 3, 드래곤 빌리지, 드래곤 솔져, 드래곤 헌터 트레져, 리틀드래...               드래곤 길들이기 3
52                                          [말레피센트 2]                  말레피센트 2
53                                       [마이펫의 이중생활2]              마이펫의 이중생활 2
54                                      [쥬만지: 넥스트 레벨]              쥬만지: 넥스트 레벨
55                                          [남산의 부장들]                  남산의 부장들
56                    [다만 악에서 구하소서, 다만 악에서 구하소서 파이널컷]              다만 악에서 구하소서
57                                               [반도]                       반도
58                                         [아메리칸 히트맨]                      히트맨
59                                               [테넷]                       테넷
60                                              [백두산]                      백두산
61                                            [#살아있다]                    #살아있다
62                                       [강철비2: 정상회담]               강철비2: 정상회담
63                                               [담보]                       담보
64                                           [닥터 두리틀]                   닥터 두리틀
65                                       [삼진그룹 영어토익반]               삼진그룹 영어토익반
66                                           [정직한 후보]                   정직한 후보
67                                               [도굴]                       도굴
68                                              [클로젯]                      클로젯
69                                           [오케이 마담]                   오케이 마담
70                                            [해치지않아]                    해치지않아
71                                                 []              천문: 하늘에 묻는다
72                                               [결백]                       결백
73                                             [1917]                     1917
74                                           [작은 아씨들]                   작은 아씨들
75                                             [미드웨이]                     미드웨이
76                                               [시동]                       시동
77                                 [지푸라기라도 잡고 싶은 짐승들]         지푸라기라도 잡고 싶은 짐승들
78                   [미스터 보스, 미스터 주: 사라진 VIP, 미스터 존스]           미스터 주: 사라진 VIP
79                       [인비저블 위트니스, 인비저블 라이프, 인비저블맨]                    인비저블맨
80                       [나쁜 녀석들: 더 무비, 나쁜 녀석들 : 포에버]             나쁜 녀석들 : 포에버
81                                             [국제수사]                     국제수사
82                                         [침입자, 침입자]                      침입자
83                               [스타워즈: 라이즈 오브 스카이워커]       스타워즈: 라이즈 오브 스카이워커
84                                         [스파이 지니어스]                 스파이 지니어스
85                                    [온워드: 단 하루의 기적]            온워드: 단 하루의 기적
86                                           [소리도 없이]                   소리도 없이
87                          [버즈 오브 프레이(할리 퀸의 황홀한 해방)]  버즈 오브 프레이(할리 퀸의 황홀한 해방)
88                                            [오! 문희]                    오! 문희
89                                             [그린랜드]                     그린랜드
90  [런던 워리어, 사일런스, 액츠 오브 바이올런스, 장난스런 키스, 칠드런 액트, 커...                        런
91  [내가 죽던 날, 집에 돌아오면, 언제나 아내가 죽은 척을 하고 있다, 내가 죽기를...                  내가 죽던 날
92                          [신비아파트 극장판 하늘도깨비 대 요르문간드]  신비아파트 극장판 하늘도깨비 대 요르문간드
93                             [프리즌 브레이커스, 프리즌 이스케이프]                프리즌 이스케이프
94                             [조제, 조제, 호랑이 그리고 물고기들]                       조제
95                                  [밤쉘: 세상을 바꾼 폭탄선언]          밤쉘: 세상을 바꾼 폭탄선언

* 네이버 영화에 기록되지 않은 다음 리뷰 영화목록

for title in dd:
    if title not in nn:
        print(title)

In [24]:
movie_n[movie_n['title']=='샹치와 텐 링즈의 전설']

Empty DataFrame
Columns: [title, genre, nation, running_time, release_date, director, actor, grade, summary, poster, score, content, write_date, source_site]
Index: []

---

In [26]:
daum[daum['title']=='샹치와 텐 링즈의 전설'].head(1)

,title,score,content,write_date,release_date,source_site
3723,샹치와 텐 링즈의 전설,1,돈받고 찬사보낸 기자분들 머리 박으세요. 쿠키영상 찬사는... 앤트맨2때에 이어서 ...,2021. 09. 02. 23:00,NaN,daum

In [32]:
daum[daum['title']=='명탐정 코난: 비색의 탄환'].head(1)

,title,score,content,write_date,release_date,source_site
10688,명탐정 코난: 비색의 탄환,10,기대되네요.,2020. 05. 22. 13:35,NaN,daum

In [31]:
daum[daum['title']=='마이펫의 이중생활 2'].head(1)

,title,score,content,write_date,release_date,source_site
20837,마이펫의 이중생활 2,7,동작과 표정들이 살아있네,2020. 09. 30. 18:30,2019.07.31,daum

In [30]:
daum[daum['title']=='말레피센트 2'].head(1)

,title,score,content,write_date,release_date,source_site
20513,말레피센트 2,0,기 발암승 발암전 발암결 발암,2020. 05. 14. 07:44,2019.10.17,daum

In [29]:
daum[daum['title']=='히트맨'].head(1)

,title,score,content,write_date,release_date,source_site
22112,히트맨,10,웃느라 정신 못 차림. ^^\n재밌자는 영화한테 예술성을 바라나?\n왜 이리 평점...,2020. 11. 09. 10:41,NaN,daum

In [28]:
daum[daum['title']=='천문: 하늘에 묻는다'].head(1)

,title,score,content,write_date,release_date,source_site
26071,천문: 하늘에 묻는다,10,감독이 왜 이 영화를 만들었는지 그가 관객에게 전하고 싶은 메세지가 정확하게 읽히는...,2020. 10. 02. 00:11,NaN,daum